node-red/.flows.json.backup
[
    {
        "id": "tab-init",
        "type": "tab",
        "label": "Library Init",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "tab-cmd",
        "type": "tab",
        "label": "Command Router",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "tab-state",
        "type": "tab",
        "label": "State Handler",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "tab-health",
        "type": "tab",
        "label": "Health Handler",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "tab-oee",
        "type": "tab",
        "label": "OEE Handler",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "broker-local",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "init-inject",
        "type": "inject",
        "z": "tab-init",
        "name": "Startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "init-loadlib"
            ]
        ]
    },
    {
        "id": "init-loadlib",
        "type": "function",
        "z": "tab-init",
        "name": "loadLibrary",
        "func": "const validators = {\n    rawCommand: function(payload) {\n        const VALID = ['goal', 'waypoints', 'cancel'];\n        if (!payload || typeof payload !== 'object') throw new Error('Payload must be an object');\n        if (!payload.command) throw new Error('Missing field: command');\n        if (!VALID.includes(payload.command)) throw new Error('Invalid command: ' + payload.command);\n        if (payload.command !== 'cancel' && !payload.payload) throw new Error('Missing field: payload');\n    },\n    goal: function(p) {\n        if (typeof p.x !== 'number') throw new Error('goal.x must be a number');\n        if (typeof p.y !== 'number') throw new Error('goal.y must be a number');\n        if (!p.angle || typeof p.angle !== 'object') throw new Error('goal.angle must be an object');\n        ['x', 'y', 'z'].forEach(function(k) {\n            if (typeof p.angle[k] !== 'number') throw new Error('goal.angle.' + k + ' must be a number');\n        });\n    },\n    waypoints: function(p) {\n        if (!Array.isArray(p.waypoints)) throw new Error('waypoints must be an array');\n        if (p.waypoints.length === 0) throw new Error('waypoints array must not be empty');\n        p.waypoints.forEach(function(wp, i) {\n            if (typeof wp.id !== 'number') throw new Error('waypoints[' + i + '].id must be a number');\n            if (typeof wp.label !== 'string') throw new Error('waypoints[' + i + '].label must be a string');\n            if (typeof wp.x !== 'number') throw new Error('waypoints[' + i + '].x must be a number');\n            if (typeof wp.y !== 'number') throw new Error('waypoints[' + i + '].y must be a number');\n            if (!wp.angle || typeof wp.angle !== 'object') throw new Error('waypoints[' + i + '].angle must be an object');\n        });\n    }\n};\n\nconst transformers = {\n    goal: function(p) {\n        return { x: p.x, y: p.y, angle: { x: p.angle.x, y: p.angle.y, z: p.angle.z } };\n    },\n    waypoints: function(p) {\n        return { waypoints: p.waypoints };\n    },\n    cancel: function() {\n        return {};\n    }\n};\n\nconst errors = {\n    wrap: function(err, source) {\n        return {\n            timestamp: new Date().toISOString(),\n            error_type: 'VALIDATION_ERROR',\n            message: err.message || String(err),\n            source: source || 'node-red'\n        };\n    }\n};\n\nglobal.set('lib', { validators: validators, transformers: transformers, errors: errors });\nnode.status({ fill: 'green', shape: 'dot', text: 'Library loaded' });\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "cmd-in-raw",
        "type": "mqtt in",
        "z": "tab-cmd",
        "name": "amr/cmd/raw",
        "topic": "amr/cmd/raw",
        "qos": "2",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "cmd-validate"
            ]
        ]
    },
    {
        "id": "cmd-validate",
        "type": "function",
        "z": "tab-cmd",
        "name": "validateRaw",
        "func": "var lib = global.get('lib');\ntry {\n    lib.validators.rawCommand(msg.payload);\n    msg.command = msg.payload.command;\n    msg.cmdPayload = msg.payload.payload || {};\n    return [msg, null];\n} catch (e) {\n    var errMsg = { payload: lib.errors.wrap(e, 'validateRaw') };\n    node.error(e.message, msg);\n    return [null, errMsg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            [
                "cmd-switch"
            ],
            [
                "cmd-debug-err"
            ]
        ]
    },
    {
        "id": "cmd-switch",
        "type": "switch",
        "z": "tab-cmd",
        "name": "Route by command",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "goal",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "waypoints",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cancel",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "cmd-goal-tx"
            ],
            [
                "cmd-wp-tx"
            ],
            [
                "cmd-cancel-tx"
            ]
        ]
    },
    {
        "id": "cmd-goal-tx",
        "type": "function",
        "z": "tab-cmd",
        "name": "transformGoal",
        "func": "var lib = global.get('lib');\ntry {\n    lib.validators.goal(msg.cmdPayload);\n    msg.payload = lib.transformers.goal(msg.cmdPayload);\n    msg.topic = 'amr/cmd/goal';\n    msg.qos = 1;\n    return [msg, null];\n} catch (e) {\n    var errMsg = { payload: lib.errors.wrap(e, 'transformGoal') };\n    node.error(e.message, msg);\n    return [null, errMsg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 80,
        "wires": [
            [
                "cmd-out-goal"
            ],
            [
                "cmd-debug-err"
            ]
        ]
    },
    {
        "id": "cmd-wp-tx",
        "type": "function",
        "z": "tab-cmd",
        "name": "transformWaypoints",
        "func": "var lib = global.get('lib');\ntry {\n    lib.validators.waypoints(msg.cmdPayload);\n    msg.payload = lib.transformers.waypoints(msg.cmdPayload);\n    msg.topic = 'amr/cmd/waypoints';\n    msg.qos = 1;\n    return [msg, null];\n} catch (e) {\n    var errMsg = { payload: lib.errors.wrap(e, 'transformWaypoints') };\n    node.error(e.message, msg);\n    return [null, errMsg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 140,
        "wires": [
            [
                "cmd-out-wp"
            ],
            [
                "cmd-debug-err"
            ]
        ]
    },
    {
        "id": "cmd-cancel-tx",
        "type": "function",
        "z": "tab-cmd",
        "name": "transformCancel",
        "func": "var lib = global.get('lib');\nmsg.payload = lib.transformers.cancel();\nmsg.topic = 'amr/cmd/cancel';\nmsg.qos = 1;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 200,
        "wires": [
            [
                "cmd-out-cancel"
            ]
        ]
    },
    {
        "id": "cmd-out-goal",
        "type": "mqtt out",
        "z": "tab-cmd",
        "name": "amr/cmd/goal",
        "topic": "amr/cmd/goal",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker-local",
        "x": 960,
        "y": 80,
        "wires": []
    },
    {
        "id": "cmd-out-wp",
        "type": "mqtt out",
        "z": "tab-cmd",
        "name": "amr/cmd/waypoints",
        "topic": "amr/cmd/waypoints",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker-local",
        "x": 960,
        "y": 140,
        "wires": []
    },
    {
        "id": "cmd-out-cancel",
        "type": "mqtt out",
        "z": "tab-cmd",
        "name": "amr/cmd/cancel",
        "topic": "amr/cmd/cancel",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker-local",
        "x": 960,
        "y": 200,
        "wires": []
    },
    {
        "id": "cmd-debug-err",
        "type": "debug",
        "z": "tab-cmd",
        "name": "Routing Errors",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "state-in-odom",
        "type": "mqtt in",
        "z": "tab-state",
        "name": "amr/state/odom",
        "topic": "amr/state/odom",
        "qos": "1",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "state-fn-odom"
            ]
        ]
    },
    {
        "id": "state-fn-odom",
        "type": "function",
        "z": "tab-state",
        "name": "handleOdom",
        "func": "var p = msg.payload;\nif (!p || !p.position || !p.timestamp) {\n    node.error('Invalid odom payload', msg);\n    return null;\n}\nnode.status({ fill: 'green', shape: 'dot', text: 'x:' + p.position.x.toFixed(2) + ' y:' + p.position.y.toFixed(2) + ' [' + p.trigger + ']' });\n// TODO: INSERT INTO odom\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 80,
        "wires": [
            [
                "state-dbg-odom"
            ]
        ]
    },
    {
        "id": "state-dbg-odom",
        "type": "debug",
        "z": "tab-state",
        "name": "odom",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 80,
        "wires": []
    },
    {
        "id": "state-in-pose",
        "type": "mqtt in",
        "z": "tab-state",
        "name": "amr/state/pose",
        "topic": "amr/state/pose",
        "qos": "1",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "state-fn-pose"
            ]
        ]
    },
    {
        "id": "state-fn-pose",
        "type": "function",
        "z": "tab-state",
        "name": "handlePose",
        "func": "var p = msg.payload;\nif (!p || !p.timestamp) {\n    node.error('Invalid pose payload', msg);\n    return null;\n}\nnode.status({ fill: 'green', shape: 'dot', text: 'px:' + p.px.toFixed(2) + ' py:' + p.py.toFixed(2) + ' rz:' + p.rz.toFixed(2) });\n// TODO: INSERT INTO pose\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "state-dbg-pose"
            ]
        ]
    },
    {
        "id": "state-dbg-pose",
        "type": "debug",
        "z": "tab-state",
        "name": "pose",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 160,
        "wires": []
    },
    {
        "id": "state-in-navstatus",
        "type": "mqtt in",
        "z": "tab-state",
        "name": "amr/state/nav/status",
        "topic": "amr/state/nav/status",
        "qos": "1",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "state-fn-navstatus"
            ]
        ]
    },
    {
        "id": "state-fn-navstatus",
        "type": "function",
        "z": "tab-state",
        "name": "handleNavStatus",
        "func": "var p = msg.payload;\nif (!p || !p.status) {\n    node.error('Invalid nav status payload', msg);\n    return null;\n}\nvar fillMap = { NAVIGATING: 'blue', SUCCEEDED: 'green', ABORTED: 'red', PREEMPTED: 'yellow', IDLE: 'grey' };\nnode.status({ fill: fillMap[p.status] || 'grey', shape: 'dot', text: p.status });\n// TODO: INSERT INTO nav_status\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 240,
        "wires": [
            [
                "state-dbg-navstatus"
            ]
        ]
    },
    {
        "id": "state-dbg-navstatus",
        "type": "debug",
        "z": "tab-state",
        "name": "nav/status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 240,
        "wires": []
    },
    {
        "id": "state-in-navprogress",
        "type": "mqtt in",
        "z": "tab-state",
        "name": "amr/state/nav/progress",
        "topic": "amr/state/nav/progress",
        "qos": "0",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "state-fn-navprogress"
            ]
        ]
    },
    {
        "id": "state-fn-navprogress",
        "type": "function",
        "z": "tab-state",
        "name": "handleNavProgress",
        "func": "var p = msg.payload;\nif (!p || typeof p.current_idx !== 'number') {\n    node.error('Invalid nav progress payload', msg);\n    return null;\n}\nnode.status({ fill: 'blue', shape: 'dot', text: (p.current_idx + 1) + '/' + p.total + ' (' + p.progress_pct.toFixed(0) + '%)' });\n// TODO: INSERT INTO nav_progress\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 320,
        "wires": [
            [
                "state-dbg-navprogress"
            ]
        ]
    },
    {
        "id": "state-dbg-navprogress",
        "type": "debug",
        "z": "tab-state",
        "name": "nav/progress",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "health-in-conn",
        "type": "mqtt in",
        "z": "tab-health",
        "name": "amr/health/connection",
        "topic": "amr/health/connection",
        "qos": "1",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "health-fn-conn"
            ]
        ]
    },
    {
        "id": "health-fn-conn",
        "type": "function",
        "z": "tab-health",
        "name": "handleConnection",
        "func": "var p = msg.payload;\nif (!p || typeof p.connected !== 'boolean') {\n    node.error('Invalid connection payload', msg);\n    return null;\n}\nnode.status({ fill: p.connected ? 'green' : 'red', shape: 'dot', text: p.connected ? 'connected' : 'disconnected' });\n// TODO: UPSERT INTO health_connection\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 80,
        "wires": [
            [
                "health-dbg-conn"
            ]
        ]
    },
    {
        "id": "health-dbg-conn",
        "type": "debug",
        "z": "tab-health",
        "name": "connection",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "health-in-batt",
        "type": "mqtt in",
        "z": "tab-health",
        "name": "amr/health/battery",
        "topic": "amr/health/battery",
        "qos": "1",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "health-fn-batt"
            ]
        ]
    },
    {
        "id": "health-fn-batt",
        "type": "function",
        "z": "tab-health",
        "name": "handleBattery",
        "func": "var p = msg.payload;\nif (!p || typeof p.level_pct !== 'number') {\n    node.error('Invalid battery payload', msg);\n    return null;\n}\nvar fill = p.level_pct > 50 ? 'green' : p.level_pct > 20 ? 'yellow' : 'red';\nnode.status({ fill: fill, shape: 'dot', text: p.level_pct.toFixed(0) + '% ' + (p.charging ? '[charging]' : '') });\n// TODO: INSERT INTO health_battery\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 160,
        "wires": [
            [
                "health-dbg-batt"
            ]
        ]
    },
    {
        "id": "health-dbg-batt",
        "type": "debug",
        "z": "tab-health",
        "name": "battery",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "health-in-err",
        "type": "mqtt in",
        "z": "tab-health",
        "name": "amr/health/error",
        "topic": "amr/health/error",
        "qos": "2",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "health-fn-err"
            ]
        ]
    },
    {
        "id": "health-fn-err",
        "type": "function",
        "z": "tab-health",
        "name": "handleError",
        "func": "var p = msg.payload;\nif (!p || !p.error_type) {\n    node.error('Invalid error payload', msg);\n    return null;\n}\nnode.status({ fill: 'red', shape: 'ring', text: p.error_type + ': ' + p.message });\nnode.error('[' + p.source + '] ' + p.error_type + ': ' + p.message, msg);\n// TODO: INSERT INTO health_error\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 240,
        "wires": [
            [
                "health-dbg-err"
            ]
        ]
    },
    {
        "id": "health-dbg-err",
        "type": "debug",
        "z": "tab-health",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "oee-in-cycle",
        "type": "mqtt in",
        "z": "tab-oee",
        "name": "amr/oee/cycle",
        "topic": "amr/oee/cycle",
        "qos": "1",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "oee-fn-cycle"
            ]
        ]
    },
    {
        "id": "oee-fn-cycle",
        "type": "function",
        "z": "tab-oee",
        "name": "handleCycle",
        "func": "var p = msg.payload;\nif (!p || !p.trip_id || !p.result) {\n    node.error('Invalid OEE cycle payload', msg);\n    return null;\n}\nvar fill = p.result === 'SUCCEEDED' ? 'green' : 'red';\nnode.status({ fill: fill, shape: 'dot', text: p.trip_id + ': ' + p.result + ' (' + p.duration_s.toFixed(1) + 's)' });\n// TODO: INSERT INTO oee_cycle\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 80,
        "wires": [
            [
                "oee-dbg-cycle"
            ]
        ]
    },
    {
        "id": "oee-dbg-cycle",
        "type": "debug",
        "z": "tab-oee",
        "name": "oee/cycle",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "tab-test",
        "type": "tab",
        "label": "Test Harness",
        "disabled": false,
        "info": "Manual MQTT command injectors. Click an inject to fire a command straight into the pipeline, skipping FastAPI. Outbound feedback topics are shown on the right."
    },
    {
        "id": "test-inj-goal",
        "type": "inject",
        "z": "tab-test",
        "name": "POST /amr/goal",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"goal\",\"payload\":{\"x\":1.0,\"y\":0.5,\"angle\":{\"x\":0,\"y\":0,\"z\":0}}}",
        "payloadType": "json",
        "x": 200,
        "y": 60,
        "wires": [["test-out-raw"]]
    },
    {
        "id": "test-inj-waypoints",
        "type": "inject",
        "z": "tab-test",
        "name": "POST /amr/waypoints/start",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"waypoints\",\"payload\":{\"waypoints\":[{\"id\":1,\"label\":\"WP1\",\"x\":1.0,\"y\":0.0,\"angle\":{\"x\":0,\"y\":0,\"z\":0}},{\"id\":2,\"label\":\"WP2\",\"x\":2.0,\"y\":1.0,\"angle\":{\"x\":0,\"y\":0,\"z\":1.57}}]}}",
        "payloadType": "json",
        "x": 200,
        "y": 120,
        "wires": [["test-out-raw"]]
    },
    {
        "id": "test-inj-cancel",
        "type": "inject",
        "z": "tab-test",
        "name": "POST /amr/cancel",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"cancel\",\"payload\":{}}",
        "payloadType": "json",
        "x": 200,
        "y": 180,
        "wires": [["test-out-raw"]]
    },
    {
        "id": "test-inj-retry",
        "type": "inject",
        "z": "tab-test",
        "name": "POST /amr/waypoints/retry",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 200,
        "y": 240,
        "wires": [["test-out-retry"]]
    },
    {
        "id": "test-inj-skip",
        "type": "inject",
        "z": "tab-test",
        "name": "POST /amr/waypoints/skip",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 200,
        "y": 300,
        "wires": [["test-out-skip"]]
    },
    {
        "id": "test-inj-connect",
        "type": "inject",
        "z": "tab-test",
        "name": "POST /system/connect",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"url\":\"ws://localhost:9090\"}",
        "payloadType": "json",
        "x": 200,
        "y": 360,
        "wires": [["test-out-connect"]]
    },
    {
        "id": "test-inj-disconnect",
        "type": "inject",
        "z": "tab-test",
        "name": "POST /system/disconnect",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 200,
        "y": 420,
        "wires": [["test-out-disconnect"]]
    },
    {
        "id": "test-out-raw",
        "type": "mqtt out",
        "z": "tab-test",
        "name": "amr/cmd/raw",
        "topic": "amr/cmd/raw",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker-local",
        "x": 520,
        "y": 120,
        "wires": []
    },
    {
        "id": "test-out-retry",
        "type": "mqtt out",
        "z": "tab-test",
        "name": "amr/cmd/waypoints/retry",
        "topic": "amr/cmd/waypoints/retry",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker-local",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "test-out-skip",
        "type": "mqtt out",
        "z": "tab-test",
        "name": "amr/cmd/waypoints/skip",
        "topic": "amr/cmd/waypoints/skip",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker-local",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "test-out-connect",
        "type": "mqtt out",
        "z": "tab-test",
        "name": "amr/system/connect",
        "topic": "amr/system/connect",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker-local",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "test-out-disconnect",
        "type": "mqtt out",
        "z": "tab-test",
        "name": "amr/system/disconnect",
        "topic": "amr/system/disconnect",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker-local",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "test-in-navstatus",
        "type": "mqtt in",
        "z": "tab-test",
        "name": "amr/state/nav/status",
        "topic": "amr/state/nav/status",
        "qos": "1",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 540,
        "wires": [["test-dbg-navstatus"]]
    },
    {
        "id": "test-dbg-navstatus",
        "type": "debug",
        "z": "tab-test",
        "name": "nav/status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.status",
        "statusType": "msg",
        "x": 520,
        "y": 540,
        "wires": []
    },
    {
        "id": "test-in-navprogress",
        "type": "mqtt in",
        "z": "tab-test",
        "name": "amr/state/nav/progress",
        "topic": "amr/state/nav/progress",
        "qos": "0",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 600,
        "wires": [["test-dbg-navprogress"]]
    },
    {
        "id": "test-dbg-navprogress",
        "type": "debug",
        "z": "tab-test",
        "name": "nav/progress",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 600,
        "wires": []
    },
    {
        "id": "test-in-pose",
        "type": "mqtt in",
        "z": "tab-test",
        "name": "amr/state/pose",
        "topic": "amr/state/pose",
        "qos": "1",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 660,
        "wires": [["test-dbg-pose"]]
    },
    {
        "id": "test-dbg-pose",
        "type": "debug",
        "z": "tab-test",
        "name": "pose",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 660,
        "wires": []
    },
    {
        "id": "test-in-odom",
        "type": "mqtt in",
        "z": "tab-test",
        "name": "amr/state/odom",
        "topic": "amr/state/odom",
        "qos": "1",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 720,
        "wires": [["test-dbg-odom"]]
    },
    {
        "id": "test-dbg-odom",
        "type": "debug",
        "z": "tab-test",
        "name": "odom",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 720,
        "wires": []
    },
    {
        "id": "test-in-conn",
        "type": "mqtt in",
        "z": "tab-test",
        "name": "amr/health/connection",
        "topic": "amr/health/connection",
        "qos": "1",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 780,
        "wires": [["test-dbg-conn"]]
    },
    {
        "id": "test-dbg-conn",
        "type": "debug",
        "z": "tab-test",
        "name": "health/connection",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 780,
        "wires": []
    },
    {
        "id": "test-in-err",
        "type": "mqtt in",
        "z": "tab-test",
        "name": "amr/health/error",
        "topic": "amr/health/error",
        "qos": "2",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 840,
        "wires": [["test-dbg-err"]]
    },
    {
        "id": "test-dbg-err",
        "type": "debug",
        "z": "tab-test",
        "name": "health/error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 840,
        "wires": []
    }
]