node-red/.flows.json.backup
[
    {
        "id": "tab-ingest",
        "type": "tab",
        "label": "Telemetry Ingestion",
        "disabled": false,
        "info": "Subscribes the VDA5050 `state` and `connection` topics (amr/v2/+/+/...) for every robot and persists each message by POSTing it to the FastAPI ingestion API, which writes to PostgreSQL.",
        "env": []
    },
    {
        "id": "tab-audit",
        "type": "tab",
        "label": "Command Audit",
        "disabled": false,
        "info": "Passive tap on the VDA5050 `order` and `instantActions` topics. Logs every command to PostgreSQL via the FastAPI ingestion API. Sits parallel to the command path — it cannot block or delay delivery to the robot.",
        "env": []
    },
    {
        "id": "tab-oee",
        "type": "tab",
        "label": "OEE",
        "disabled": false,
        "info": "Derives OEE trip cycles from order-completion transitions observed in the VDA5050 `state` stream. A cycle is emitted when an active order's nodeStates empties (SUCCEEDED) or its orderId clears mid-order (ABORTED).",
        "env": []
    },
    {
        "id": "tab-test",
        "type": "tab",
        "label": "Test Harness",
        "disabled": false,
        "info": "Manual VDA5050 message injectors for amr001. Click an inject to publish an `order` or `instantActions` message straight to the robot's MQTT topic, skipping FastAPI. Outbound `state`/`connection` are shown on the right."
    },
    {
        "id": "broker-local",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ingest-in-state",
        "type": "mqtt in",
        "z": "tab-ingest",
        "name": "amr/v2/+/+/state",
        "topic": "amr/v2/+/+/state",
        "qos": "0",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "ingest-fn-state"
            ]
        ]
    },
    {
        "id": "ingest-fn-state",
        "type": "function",
        "z": "tab-ingest",
        "name": "validateState",
        "func": "var s = msg.payload;\nif (!s || typeof s.serialNumber !== 'string' || !s.timestamp) {\n    node.error('Invalid VDA5050 state message', msg);\n    return null;\n}\nvar pos = s.agvPosition || {};\nnode.status({ fill: 'green', shape: 'dot', text: s.serialNumber + ' x:' + (pos.x || 0).toFixed(2) + ' y:' + (pos.y || 0).toFixed(2) });\nmsg.headers = { 'content-type': 'application/json' };\nmsg.payload = s;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 100,
        "wires": [
            [
                "ingest-http-state"
            ]
        ]
    },
    {
        "id": "ingest-http-state",
        "type": "http request",
        "z": "tab-ingest",
        "name": "POST /ingest/state",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/ingest/state",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 620,
        "y": 100,
        "wires": [
            [
                "ingest-dbg-state"
            ]
        ]
    },
    {
        "id": "ingest-dbg-state",
        "type": "debug",
        "z": "tab-ingest",
        "name": "state persisted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "ingest-in-conn",
        "type": "mqtt in",
        "z": "tab-ingest",
        "name": "amr/v2/+/+/connection",
        "topic": "amr/v2/+/+/connection",
        "qos": "1",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "ingest-fn-conn"
            ]
        ]
    },
    {
        "id": "ingest-fn-conn",
        "type": "function",
        "z": "tab-ingest",
        "name": "validateConnection",
        "func": "var c = msg.payload;\nvar VALID = ['ONLINE', 'OFFLINE', 'CONNECTIONBROKEN'];\nif (!c || typeof c.serialNumber !== 'string' || VALID.indexOf(c.connectionState) === -1) {\n    node.error('Invalid VDA5050 connection message', msg);\n    return null;\n}\nvar fill = c.connectionState === 'ONLINE' ? 'green' : c.connectionState === 'OFFLINE' ? 'grey' : 'red';\nnode.status({ fill: fill, shape: 'dot', text: c.serialNumber + ': ' + c.connectionState });\nmsg.headers = { 'content-type': 'application/json' };\nmsg.payload = c;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 200,
        "wires": [
            [
                "ingest-http-conn"
            ]
        ]
    },
    {
        "id": "ingest-http-conn",
        "type": "http request",
        "z": "tab-ingest",
        "name": "POST /ingest/connection",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/ingest/connection",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 200,
        "wires": [
            [
                "ingest-dbg-conn"
            ]
        ]
    },
    {
        "id": "ingest-dbg-conn",
        "type": "debug",
        "z": "tab-ingest",
        "name": "connection persisted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 200,
        "wires": []
    },
    {
        "id": "audit-in-order",
        "type": "mqtt in",
        "z": "tab-audit",
        "name": "amr/v2/+/+/order",
        "topic": "amr/v2/+/+/order",
        "qos": "0",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "audit-fn-order"
            ]
        ]
    },
    {
        "id": "audit-fn-order",
        "type": "function",
        "z": "tab-audit",
        "name": "tagOrder",
        "func": "var m = msg.payload;\nif (!m || typeof m.serialNumber !== 'string' || typeof m.orderId !== 'string') {\n    node.error('Invalid order message', msg);\n    return null;\n}\nnode.status({ fill: 'blue', shape: 'dot', text: m.serialNumber + ' ' + m.orderId });\nmsg.headers = { 'content-type': 'application/json' };\nmsg.payload = { kind: 'order', message: m };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "audit-http-order"
            ]
        ]
    },
    {
        "id": "audit-http-order",
        "type": "http request",
        "z": "tab-audit",
        "name": "POST /ingest/command",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/ingest/command",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 100,
        "wires": [
            [
                "audit-dbg-order"
            ]
        ]
    },
    {
        "id": "audit-dbg-order",
        "type": "debug",
        "z": "tab-audit",
        "name": "order logged",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 100,
        "wires": []
    },
    {
        "id": "audit-in-ia",
        "type": "mqtt in",
        "z": "tab-audit",
        "name": "amr/v2/+/+/instantActions",
        "topic": "amr/v2/+/+/instantActions",
        "qos": "0",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "audit-fn-ia"
            ]
        ]
    },
    {
        "id": "audit-fn-ia",
        "type": "function",
        "z": "tab-audit",
        "name": "tagInstantActions",
        "func": "var m = msg.payload;\nif (!m || typeof m.serialNumber !== 'string' || !Array.isArray(m.actions)) {\n    node.error('Invalid instantActions message', msg);\n    return null;\n}\nvar types = m.actions.map(function (a) { return a.actionType; }).join(',');\nnode.status({ fill: 'blue', shape: 'dot', text: m.serialNumber + ' ' + types });\nmsg.headers = { 'content-type': 'application/json' };\nmsg.payload = { kind: 'instantActions', message: m };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 200,
        "wires": [
            [
                "audit-http-ia"
            ]
        ]
    },
    {
        "id": "audit-http-ia",
        "type": "http request",
        "z": "tab-audit",
        "name": "POST /ingest/command",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/ingest/command",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 200,
        "wires": [
            [
                "audit-dbg-ia"
            ]
        ]
    },
    {
        "id": "audit-dbg-ia",
        "type": "debug",
        "z": "tab-audit",
        "name": "instantActions logged",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 200,
        "wires": []
    },
    {
        "id": "oee-in-state",
        "type": "mqtt in",
        "z": "tab-oee",
        "name": "amr/v2/+/+/state",
        "topic": "amr/v2/+/+/state",
        "qos": "0",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "oee-fn-cycle"
            ]
        ]
    },
    {
        "id": "oee-fn-cycle",
        "type": "function",
        "z": "tab-oee",
        "name": "deriveCycle",
        "func": "var s = msg.payload;\nif (!s || typeof s.serialNumber !== 'string') { return null; }\nvar serial = s.serialNumber;\nvar key = 'oee_' + serial;\nvar ctx = flow.get(key) || { orderId: '', startTime: null, active: false };\nvar cur = s.orderId || '';\nvar remaining = (s.nodeStates || []).length;\nvar cycle = null;\n\nif (cur && cur !== ctx.orderId) {\n    // a new order has started\n    ctx = { orderId: cur, startTime: s.timestamp, active: true };\n} else if (cur && cur === ctx.orderId && ctx.active && remaining === 0) {\n    // the active order has finished all of its nodes\n    cycle = { serialNumber: serial, orderId: cur, startTime: ctx.startTime, endTime: s.timestamp, result: 'SUCCEEDED' };\n    ctx.active = false;\n} else if (!cur && ctx.active) {\n    // the order was cleared (cancelled) while still active\n    cycle = { serialNumber: serial, orderId: ctx.orderId, startTime: ctx.startTime, endTime: s.timestamp, result: 'ABORTED' };\n    ctx = { orderId: '', startTime: null, active: false };\n}\n\nflow.set(key, ctx);\nif (!cycle) { return null; }\n\nvar dur = (new Date(cycle.endTime) - new Date(cycle.startTime)) / 1000;\ncycle.durationS = Math.max(0, Math.round(dur * 10) / 10);\nnode.status({ fill: cycle.result === 'SUCCEEDED' ? 'green' : 'red', shape: 'dot', text: cycle.orderId + ' ' + cycle.result + ' (' + cycle.durationS + 's)' });\nmsg.headers = { 'content-type': 'application/json' };\nmsg.payload = cycle;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 120,
        "wires": [
            [
                "oee-http-cycle"
            ]
        ]
    },
    {
        "id": "oee-http-cycle",
        "type": "http request",
        "z": "tab-oee",
        "name": "POST /ingest/oee-cycle",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/ingest/oee-cycle",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 120,
        "wires": [
            [
                "oee-dbg-cycle"
            ]
        ]
    },
    {
        "id": "oee-dbg-cycle",
        "type": "debug",
        "z": "tab-oee",
        "name": "cycle persisted",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 120,
        "wires": []
    },
    {
        "id": "test-inj-order-goal",
        "type": "inject",
        "z": "tab-test",
        "name": "order: single goal",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"headerId\":0,\"timestamp\":\"2026-01-01T00:00:00.000Z\",\"version\":\"2.0.0\",\"manufacturer\":\"moverobotic\",\"serialNumber\":\"amr001\",\"orderId\":\"test-order-goal\",\"orderUpdateId\":0,\"nodes\":[{\"nodeId\":\"n0\",\"sequenceId\":0,\"released\":true,\"nodePosition\":{\"x\":2,\"y\":1,\"theta\":2,\"mapId\":\"default\"},\"actions\":[]}],\"edges\":[]}",
        "payloadType": "json",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "test-out-order"
            ]
        ]
    },
    {
        "id": "test-inj-order-seq",
        "type": "inject",
        "z": "tab-test",
        "name": "order: 2-node sequence",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"headerId\":0,\"timestamp\":\"2026-01-01T00:00:00.000Z\",\"version\":\"2.0.0\",\"manufacturer\":\"moverobotic\",\"serialNumber\":\"amr001\",\"orderId\":\"test-order-seq\",\"orderUpdateId\":0,\"nodes\":[{\"nodeId\":\"n0\",\"sequenceId\":0,\"released\":true,\"nodePosition\":{\"x\":1,\"y\":0,\"theta\":0,\"mapId\":\"default\"},\"actions\":[]},{\"nodeId\":\"n1\",\"sequenceId\":2,\"released\":true,\"nodePosition\":{\"x\":2,\"y\":1,\"theta\":1.57,\"mapId\":\"default\"},\"actions\":[]}],\"edges\":[{\"edgeId\":\"e0\",\"sequenceId\":1,\"released\":true,\"startNodeId\":\"n0\",\"endNodeId\":\"n1\",\"actions\":[]}]}",
        "payloadType": "json",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "test-out-order"
            ]
        ]
    },
    {
        "id": "test-inj-ia-cancel",
        "type": "inject",
        "z": "tab-test",
        "name": "instantAction: cancelOrder",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"headerId\":0,\"timestamp\":\"2026-01-01T00:00:00.000Z\",\"version\":\"2.0.0\",\"manufacturer\":\"moverobotic\",\"serialNumber\":\"amr001\",\"actions\":[{\"actionId\":\"test-cancel\",\"actionType\":\"cancelOrder\",\"blockingType\":\"HARD\",\"actionParameters\":[]}]}",
        "payloadType": "json",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "test-out-ia"
            ]
        ]
    },
    {
        "id": "test-inj-ia-retry",
        "type": "inject",
        "z": "tab-test",
        "name": "instantAction: retryNode",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"headerId\":0,\"timestamp\":\"2026-01-01T00:00:00.000Z\",\"version\":\"2.0.0\",\"manufacturer\":\"moverobotic\",\"serialNumber\":\"amr001\",\"actions\":[{\"actionId\":\"test-retry\",\"actionType\":\"retryNode\",\"blockingType\":\"NONE\",\"actionParameters\":[]}]}",
        "payloadType": "json",
        "x": 205,
        "y": 280,
        "wires": [
            [
                "test-out-ia"
            ]
        ]
    },
    {
        "id": "test-inj-ia-skip",
        "type": "inject",
        "z": "tab-test",
        "name": "instantAction: skipNode",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"headerId\":0,\"timestamp\":\"2026-01-01T00:00:00.000Z\",\"version\":\"2.0.0\",\"manufacturer\":\"moverobotic\",\"serialNumber\":\"amr001\",\"actions\":[{\"actionId\":\"test-skip\",\"actionType\":\"skipNode\",\"blockingType\":\"NONE\",\"actionParameters\":[]}]}",
        "payloadType": "json",
        "x": 205,
        "y": 340,
        "wires": [
            [
                "test-out-ia"
            ]
        ]
    },
    {
        "id": "test-out-order",
        "type": "mqtt out",
        "z": "tab-test",
        "name": "amr/v2/moverobotic/amr001/order",
        "topic": "amr/v2/moverobotic/amr001/order",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker-local",
        "x": 580,
        "y": 110,
        "wires": []
    },
    {
        "id": "test-out-ia",
        "type": "mqtt out",
        "z": "tab-test",
        "name": "amr/v2/moverobotic/amr001/instantActions",
        "topic": "amr/v2/moverobotic/amr001/instantActions",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker-local",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "test-in-state",
        "type": "mqtt in",
        "z": "tab-test",
        "name": "amr/v2/+/+/state",
        "topic": "amr/v2/+/+/state",
        "qos": "0",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 460,
        "wires": [
            [
                "test-dbg-state"
            ]
        ]
    },
    {
        "id": "test-dbg-state",
        "type": "debug",
        "z": "tab-test",
        "name": "state",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 460,
        "wires": []
    },
    {
        "id": "test-in-conn",
        "type": "mqtt in",
        "z": "tab-test",
        "name": "amr/v2/+/+/connection",
        "topic": "amr/v2/+/+/connection",
        "qos": "1",
        "datatype": "json",
        "broker": "broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 520,
        "wires": [
            [
                "test-dbg-conn"
            ]
        ]
    },
    {
        "id": "test-dbg-conn",
        "type": "debug",
        "z": "tab-test",
        "name": "connection",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.connectionState",
        "statusType": "msg",
        "x": 540,
        "y": 520,
        "wires": []
    }
]